.gallery-page {
    display: flex;
    flex-direction: column;
    background-color: #383b44;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 100%;
    margin: 0;
}

main {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.gallery-nav {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
    flex-shrink: 0;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    overflow-y: auto;
    flex: 1;
    padding: 0 1rem 1rem 1rem;
}

.gallery-item {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    transition: 300ms;
    box-shadow: 1px 1px 5px black;
    overflow: hidden;
    border-radius: 0.5rem;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.keywords-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    font-size: 2rem;
    width: 45%;
    height: 3rem;
    overflow-x: hidden;
    padding-inline: 1rem;
    border-radius: 2rem;

    color: white;
    background-color: #88898d;
}

.more-keywords-button {
    background: linear-gradient(90deg, #0f9bb4, #30ba6e);
    width: 8%;
    border: none;
    border-radius: 2rem;
    height: 80%;
    color: white;
    font-size: 1.5rem;
}
