* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #25232a;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 2rem;
    height: 4rem;
    border-radius: 3rem;
    background: linear-gradient(90deg, #0f9bb4, #30ba6e);
    color: white;
}

.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 2rem;
    margin-inline-end: 1rem;
}

nav h1,
nav p {
    margin: 0;
    height: max-content;
}

.nav-links > p:hover {
    cursor: pointer;
}

.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 45%;
}

.search-input {
    width: 100%;
    background-color: #22252e;
    color: white;
    border: none;
    border-radius: 2rem;
    padding-inline: 2rem;
    height: 3rem;
    font-size: 1.5rem;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    right: 20px;
}

.hidden {
    display: none;
}
