.meme-editor-page {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid red;
}

.meme-editor-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 80dvh;
}

.meme-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: clamp(0.5rem, 2vw, 3rem);
    background-color: #383b42;
    border-radius: 3rem;
    width: auto;
}

canvas {
    width: 100%;
    background-color: white;
    border-radius: 3rem;
    border: 0.5rem solid #363942;
}

.meme-preview {
    position: relative;
    min-width: fit-content;
}

.meme-controls input[type="text"] {
    width: 100%;
    margin-block-end: 1rem;
    height: 4rem;
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    border-radius: 3rem;
    border: 1px solid #bfc3c8;
    box-shadow:
        0 4px 0 #9ca3af,
        inset 0 1px 0 rgba(255, 255, 255, 0.8);
    background-color: #ebeef3;
}

.action-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.action-buttons-container button {
    width: clamp(25px, 45%, 54px);
    height: 100%;
    border-radius: 7px;
    font-size: clamp(1rem, 4vw, 2rem);
    color: white;
    cursor: pointer;
}

.action-buttons-container button:hover {
    filter: saturate(1.5);
}

.action-buttons-container > :nth-child(1) {
    background-color: #28a5c5;
    border: none;
    box-shadow:
        0 4px 0 #048b97,
        inset 0 1px 0 #4cbad3;
}
.action-buttons-container :nth-child(2) {
    background-color: #3dd154;
    border: none;
    box-shadow:
        0 4px 0 #055a34,
        inset 0 1px 0 #5fd374;
}
.action-buttons-container :nth-child(3) {
    background-color: #d42437;
    border: none;
    box-shadow:
        0 4px 0 #8c0606,
        inset 0 1px 0 #ec625b;
}

.text-properties-editor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #19a59f;
}

.text-properties-editor button {
    width: clamp(min-content, 25%, max-content);
    height: clamp(min-content, 25%, max-content);
    padding: 0.5rem;
    font-size: clamp(1rem, 2vw, 2rem);
    border: 1px solid red;
    border-radius: 7px;
    box-shadow: 0 4px 0 #9ca3af;
    background-color: white;
}

.text-properties-editor select {
    flex-grow: 2;
    width: clamp(120px, 25vw, 140px);
    height: clamp(40px, 25vw, 60px);
    max-width: 100%;
    margin-block-end: 1rem;
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #bfc3c8;
    box-shadow:
        0 4px 0 #9ca3af,
        inset 0 1px 0 rgba(255, 255, 255, 0.8);
    background-color: #ebeef3;
}

.text-properties-editor input[type="color"] {
    width: 54px;
    height: 54px;
}

.increase-font-size-button h3,
.decrease-font-size-button h3 {
    margin: 0;
}
